# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Stuff from merge conflicts.
*.orig

# Folders
_obj
_test
theLinkWeb/app/dist/

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# For the local testing stuff i'm doing.
*/bower_components/*
*/node_modules/*
*/coverage/*
/data/*
/neo4jdata/*
/neo4j/neo4jdata/*

neo4j/data/databases/graph.db/neostore.schemastore.db.id

neo4j/data/databases/graph.db/neostore.relationshipgroupstore.db.id

neo4j/data/databases/graph.db/neostore

neo4j/data/databases/graph.db/neostore.counts.db.b

neo4j/data/databases/graph.db/neostore.id

*.id

neo4j/data/databases/graph.db/neostore.labeltokenstore.db.id

neo4j/data/databases/graph.db/neostore.labeltokenstore.db.names.id

neo4j/data/databases/graph.db/neostore.nodestore.db.id

neo4j/data/databases/graph.db/neostore.nodestore.db.labels.id

neo4j/data/databases/graph.db/neostore.propertystore.db

neo4j/data/databases/graph.db/neostore.propertystore.db.arrays.id

neo4j/data/databases/graph.db/neostore.propertystore.db.id

neo4j/data/databases/graph.db/neostore.propertystore.db.index

neo4j/data/databases/graph.db/neostore.propertystore.db.index.id

neo4j/data/databases/graph.db/neostore.propertystore.db.index.keys

neo4j/data/databases/graph.db/neostore.propertystore.db.index.keys.id

neo4j/data/databases/graph.db/neostore.propertystore.db.strings

neo4j/data/databases/graph.db/neostore.propertystore.db.strings.id

neo4j/data/databases/graph.db/neostore.relationshipstore.db.id

neo4j/data/databases/graph.db/neostore.relationshiptypestore.db.id

neo4j/data/databases/graph.db/neostore.relationshiptypestore.db.names.id

neo4j/data/databases/graph.db/neostore.transaction.db.0

neo4j/backup.zip

theLinkApi/api/swagger/.DS_Store

.DS_Store
